<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Calculator">
      <directory>tests/Calculator</directory>
    </testsuite>
    <testsuite name="Formatter">
      <directory>tests/Formatter</directory>
    </testsuite>
  </testsuites>
</phpunit>
